@import '~flexboxgrid/css/flexboxgrid';
@import '~styles/settings.styl';
@import '~styles/forms.styl';

.classroom-list {
  padding-top: 2rem;
}

.footerActionsClassroomForm
  @extend .footerActions
  z-index: 2
  -webkit-transition: 1s ease-in-out
  transition: 1s ease-in-out

  .actionItem .backButton
    background-color: lightgrey!important;

  .actionItem:not(:last-child)
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10
    // padding-bottom: 1.4rem;
    -webkit-transition: .3s ease-in-out
    transition: .3s ease-in-out

  &:hover
    .actionItem:not(:last-child)
      z-index: 2
      -webkit-transform: translateY(-5rem);


.item {
  height: 3.5rem !important;
  min-height: 2rem;
  padding-left 1.5rem;

  .right {
    width: 11rem;
  }
}

.itemContentRoot {

  .itemText {
    font-size: 1.4rem;
  }

}