/* @import '~flexboxgrid/css/flexboxgrid'; */

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10000;
	background-color: #eee;
	font-size: 40px;
}

.loaderContainer small {
  position: relative;
  top: 10em;
  color: #fff;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
	background-color: #d4d4d4;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  /* background: transparent url("./gears.gif") no-repeat; */
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #2196f3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  top: 25%;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CSS classes required by ReactCSSTransitionGroup */
.loaderContainer-enter {
  opacity: 0.01;
  width: 0px;
}

.loaderContainer-enter.loader-enter-active {
  opacity: 1;
  width: 100%;
  /* transition: 700ms; */
  transition: opacity 500ms ease-in;
}

/* .loaderContainer-leave { */
.loaderContainer-exit {
	opacity: 1;
  width: 100%;
}

/* .loaderContainer-leave.loaderContainer-leave-active { */
.loaderContainer-exit.loaderContainer-exit-active {
	opacity: 0.01;
  width: 0px;
  /* transition: 700ms; */
  transition: opacity 300ms ease-in;

}
