@import '~flexboxgrid/css/flexboxgrid';
@import '~styles/settings.styl';

.headerActions {
  display: flex;
  height: 2rem;
  align-items: center;
  align-self: center;

  button {
    width: 3rem;
    color: #aabdda;

    span {
      font-size: 1.4rem !important;
    }
  }
}

.itemContent {
  display: flex;
  align-items: center;
  width: 5rem;
  // padding-left: 1rem;
  p {
    padding-left: .5rem;
    font-size: 1.4rem;
    small {
      font-size: 1rem;
    }
  }
}


.itemContentRoot {
  height: 0;

  .itemText {
    font-size: 1rem;
  }
}


.cardMedia {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font: italic normal 1rem Roboto, sans-serif;
  overflow: visible;
  color: #cccccc;

  .content {
    overflow: visible;
  }
  &.wide, &.square {
    .content {
      overflow: visible;
    }
  }
}

.cardMediaEmpty {
  @extend .cardMedia;
  padding: 3rem;
}

.card {
  margin-top: 2rem;
}

